@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/halo";

s|ActionBar
{
	/*chromeColor: #229988;*/
	titleAlign: center;
}

s|ActionBar #titleDisplay
{
	color: #CCCCCC; /* default color is white */
	fontSize: 35;
	fontFamily: "Comic Sans MS";
}

s|TabbedViewNavigator 
{
	skinClass: ClassReference("skins.TabbedViewNavigatorSkin");
}

s|TabbedViewNavigator #tabBar
{
	chromeColor: #957C81;
	color: #000000;
	iconPlacement: top;
	fontSize: 25;
	fontFamily: travelingTypewriterNotEmbed;
	letterSpacing: 0;
	/*chromeColor: #229988;*/
	/*chromeColor: #A7919B;*/
	/*backgroundAlpha: 0;
	borderAlpha: 0;
	contentBackgroundAlpha: 0;
	disabledAlpha: 0;
	focusAlpha: 0;
	textAlpha: 0;*/
}

@font-face {
	src:url("/style/fonts/TravelingTypewriter.ttf");
	fontFamily: travelingTypewriterEmbed;
	embedAsCFF: true;
}

.titleStyleEmbed {
	fontFamily: travelingTypewriterEmbed;
	fontSize: 56;
	textAlign: center;
	borderSkin: null;
	focusAlpha: 0;
	color: black;
	contentBackgroundAlpha: 0;
	borderVisible: false;
	skinClass: ClassReference("spark.skins.mobile.TextAreaSkin");
}

.descriptionStyleEmbed {
	fontFamily: travelingTypewriterEmbed;
	color: black;
	fontSize: 40;
	textAlign: justify;
	borderSkin: null;
	focusAlpha: 0;
	color: black;
	contentBackgroundAlpha: 0;
	borderVisible: false;
	skinClass: ClassReference("spark.skins.mobile.TextAreaSkin");
}

.publishDateStyleEmbed {
	fontFamily: travelingTypewriterEmbed;
	fontSize: 32;
	color: black;
	textAlign: center;
	borderSkin: null;
	focusAlpha: 0;
	color: black;
	contentBackgroundAlpha: 0;
	borderVisible: false;
	skinClass: ClassReference("spark.skins.mobile.TextAreaSkin");
}

@font-face { 
	src: url("/style/fonts/TravelingTypewriter.ttf"); 
	fontFamily: travelingTypewriterNotEmbed; 
	embedAsCFF: false; 
}

.titleStyleNotEmbed {
	fontSize: 40;
	fontFamily: travelingTypewriterNotEmbed;
	textAlign: justify;
	borderSkin: null;
	focusAlpha: 0;
	color: black;
	contentBackgroundAlpha: 0;
	borderVisible: false;
	skinClass: ClassReference("spark.skins.mobile.TextAreaSkin");
}

.descriptionStyleNotEmbed {
	fontSize: 30;
	fontFamily: travelingTypewriterNotEmbed;
	textAlign: justify;
	borderSkin: null;
	focusAlpha: 0;
	color: black;
	contentBackgroundAlpha: 0;
	borderVisible: false;
	skinClass: ClassReference("spark.skins.mobile.TextAreaSkin");
}