@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/halo";

s|ActionBar
{
	/*chromeColor: #229988;*/
	titleAlign: center;
}

s|ActionBar #titleDisplay
{
	color: #CCCCCC; /* default color is white */
	fontSize: 35;
	fontFamily: "Comic Sans MS";
}

s|TabbedViewNavigator 
{
	skinClass: ClassReference("skins.TabbedViewNavigatorSkin");
}

s|TabbedViewNavigator #tabBar
{
	/*chromeColor: #229988;*/
	/*chromeColor: #A7919B;*/
	chromeColor: #957C81;
	/*backgroundAlpha: 0;
	borderAlpha: 0;
	contentBackgroundAlpha: 0;
	disabledAlpha: 0;
	focusAlpha: 0;
	textAlpha: 0;*/
	color: #000000;
	iconPlacement: top;
	fontSize: 14;
	fontFamily: myFontFamilyMX;
	letterSpacing: 0;
}

@font-face { 
	src: url("/style/fonts/TravelingTypewriter.ttf"); 
	fontFamily: myFontFamilyMX; 
	embedAsCFF: false; 
}

@font-face {
	src:url("/style/fonts/TravelingTypewriter.ttf");
	fontFamily: myFontFamilySpark;
	embedAsCFF: true;
}

.customStyleMX {
	fontFamily: myFontFamilyMX;
	borderSkin: null;
	focusAlpha: 0;
	color: black;
	contentBackgroundAlpha: 0;
	borderVisible: false;
	skinClass: ClassReference("spark.skins.mobile.TextAreaSkin");
}

.customStyleSpark {
	fontFamily: myFontFamilySpark;
	color: black;
}